<html>
    <head>
        <title>egegunes.rocks</title>
    </head>
    <body>
        <div>
        {{ range .comments }}
            <p>{{ .Message }} {{ .CreatedAt }}</p>
        {{ end }}
        </div>
    </body>
</html>
